.page-grid
  display: grid
  grid-template-rows: auto
  grid-template-columns: auto
  margin: auto

.page-cell-img
  grid-area: 1 / 1 / 3 / 25
  width: 100vw

.page-cell-header 
  grid-area: 1 / 1 / 2 / 25
  padding: 0 0 0 4vw
  margin: 14vw 0 14vw 0

.page-cell-main
  grid-area: 2 / 1 / 3 / 15
  margin: 4vw

.page-cell-footer
  grid-area: 3 / 1 / 4 / 25

  // Grid
//@media (min-width: $media-grid-start)
  //.page-grid
    //display: grid
    //grid-template-columns: repeat(auto-fit, minmax(10em, 1fr))
    //grid-gap: 5px

  //.page-cell-header

  //.page-cell-menu

  //.page-cell-main


