.listing 
  list-style: none
  margin: 2em
  display: grid
  grid-gap: 20px
  grid-auto-flow: dense
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr))

.listing .wide 
  grid-column-end: span 2

