/* Add a black background color to the top navigation

.topnav
  background-color: #333
  overflow: hidden
  position: fixed
  width: 100%

  a
    float: left
    display: block
    color: #f2f2f2
    text-align: center
    padding: 4vw
    text-decoration: none
    font-size: 6vw
    text-transform: uppercase

/* Style the links inside the navigation bar

/* Add an active class to highlight the current page

.active
  //background-color: #4CAF50
  color: white

/* Hide the link that should open and close the topnav on small screens

.topnav .icon
  display: none

/* Dropdown container - needed to position the dropdown content

.dropdown
  float: left
  overflow: hidden

  .dropbtn
    font-size: 6vw
    border: none
    outline: none
    color: white
    padding: 4vw 
    background-color: inherit
    font-family: inherit
    margin: 0

/* Style the dropdown button to fit inside the topnav

/* Style the dropdown content (hidden by default)

.dropdown-content
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1

  a
    float: none
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block
    text-align: left

/* Style the links inside the dropdown

/* Add a dark background on topnav links and the dropdown button on hover

.topnav a:hover, .dropdown:hover .dropbtn
  background-color: #555
  color: white

/* Add a grey background to dropdown links on hover

.dropdown-content a:hover
  background-color: #ddd
  color: black

/* Show the dropdown menu when the user moves the mouse over the dropdown button

.dropdown:hover .dropdown-content
  display: block

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
@media screen and (max-width: 600px)
  .topnav a:not(:first-child), .dropdown .dropbtn
    display: none

  .topnav a.icon
    float: right
    display: block

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
@media screen and (max-width: 600px)
  .topnav.responsive
    position: relative

    a
      &.icon
        position: absolute
        right: 0
        top: 0

      float: none
      display: block
      text-align: left

    .dropdown
      float: none

    .dropdown-content
      position: relative

    .dropdown .dropbtn
      display: block
      width: 100%
      text-align: left
      text-transform: uppercase

.about
  display: grid
  grid-template-rows: auto
  grid-row: 2 / 3
  grid-column: 1 / -1

.header 
  grid-template-rows: 1fr auto auto auto 2fr
  grid-template-columns: repeat(5, 1fr)
  grid-gap: 4vw
  display: grid
  background: $oc-gray-8

.tools .header h2
  color: orange

.headerImg 
  grid-row: 1 / -1
  grid-column: 1 / -1

  img
    width: 100%

.headerMask
  grid-row: 1 / -1
  grid-column: 1 / -1
  $gradient-color-1: $oc-gray-9 0%
  $gradient-color-2: transparent 0%
  $gradient-color-3: transparent 100%
  $gradient-color-4: $oc-gray-9 100%
  background: rgba(0,0,0,0.66) 
  //$gradient-mid1: 50%
  //$gradient-mid2: 50%
  //background: linear-gradient(180deg, $gradient-color-1, $gradient-color-2, $gradient-color-3, $gradient-color-4 ) 


.headerHeadline 
  grid-row: 2
  margin: 0
  grid-column: 1 / -1
  align-self: end
  padding: 0 4vw 

  h2
    font-size: 10vw
    margin: 0
    color: $oc-gray-1
    font-weight: 900
    text-transform: uppercase
    -webkit-text-stroke-color: black
    -webkit-text-stroke-width: 1px

.smart .headerHeadline h2
  font-size: 9vw

.headerMain 
  grid-row: 3
  font-size: 4vw
  line-height: 1.2em
  grid-column: 1 / -1
  padding: 0 4vw 
  color: $oc-gray-1

.about .headerMain 
  font-size: 6vw

.about .headerMain
  font-size: 6vw
  font-weight: lighter
  

.button
  grid-row: 4
  grid-column: 1 / 3 
  padding: 1vw 
  font-size: 4vw
  background: red
  color: $oc-gray-1
  margin-left: 4vw
  text-align: center
  border: solid 1px $oc-gray-9

.chevron
  grid-row: 5
  grid-column: 1
  margin-left: 4vw
  align-self: center
  img
    width: 6vw
    text-align: center

  
.main
  background: $oc-gray-9
  grid-column: 1 / -1

#bookmarkMain:target
  padding-top: 12vw

.content
  padding-top: 2vw

.features
  padding: 0 4vw
  background: $oc-gray-9

  h2
    color: $oc-gray-5
    margin: 4vw 0 2vw 0

  p, li
    color: $oc-gray-5
    font-weight: lighter
    margin: 0

.featuresBlockOne
  padding: 2vw 4vw
  background: $oc-gray-9

  h2
    color: $oc-gray-5

  p, li
    color: $oc-gray-5
    font-weight: lighter

.featuresBlockTwo
  padding: 2vw 4vw
  background: $oc-gray-6
  h2
    color: $oc-gray-9
  p
    color: $oc-gray-9
    margin: 0

.index .featuresBlockTwo
  font-size: 4vw
  padding: 4vw

.referralsBlock
  border-top: solid 1px
  background: $oc-gray-8
  padding: 0

  h2
    padding: 0 4vw
    margin-bottom: 0
    color: $oc-gray-5

  p
    color: $oc-gray-5


  .quote
    display: grid
    grid-template-rows: auto auto
    grid-template-columns: 1fr 5fr
    padding: 4vw
    color: $oc-gray-8
    border-bottom: $border 

  .quoteImg
    grid-column: 1
    grid-row: 2
    padding: 4vw
    border: $border 
    margin: 4vw 4vw 0 0

  .quoteSource
    grid-row: 2
    grid-column: 2 / -1
    align-self: center

  .quoteMain
    grid-row: 1
    grid-column: 1 / -1
    p
      margin: 0

.footer
  grid-row: 4
  grid-column: 1 / -1
  background: $oc-gray-9
  color: $oc-gray-1
  padding: 2vw 4vw

@media screen and (min-width: 600px)
  .menu 
    padding: 1vw 4vw
    background: transparent
  
  .menu p 
    margin: 0
    font-size: 2vw
    color: $oc-gray-9

  .about 
    grid-row: 1 / 3
  
  .header

  .headerHeadline h2 
    font-size: 6vw
  
  .headerImg img 
    width: 100%

  .headerMain 
    font-size: 3vw
    line-height: 4vw
    grid-row: 2
  
  .button
    grid-row: 3
    grid-column: 1 / -1
    margin: 4vw
    font-size: 2vw

  p 
    font-size: 2vw
    line-height: 3vw

  .content

    h2
      font-size: 2vw
    
    p
      font-size: 2vw
      line-height: 3vw

@media screen and (min-width: 1200px)
  
  .menu
    p
      font-size: 24px

  .main
    h2, p 
      font-size: 24px
      
  .headerHeadline h2 
    font-size: 60px

  .headerMain 
    font-size: 30px
    line-height: 1.2em
