// libraries
@import "open-color.scss"
@import "normalize/_normalize.scss"

// Normalize
@include normalize()

// Vars
@import "_variables.sass"

// Page
@import "_page.sass"

// Index
@import "_index.sass"

// Content
@import "_content.sass"

html

body
  margin: 0 auto
  padding: 0
  font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif
  text-align: left
  max-width: 1200px

h1
  color: $oc-gray-7

h2
  font-size: 4vw 
  text-transform: uppercase
  color: $oc-gray-4
  font-stretch: condensed

h3
  font-size: 6vw
  color: $oc-gray-7

h4
  font-size: 4vw
  color: $oc-gray-7

h5
  font-size: 3vw
  color: $oc-gray-7

p
  font-size: 4vw
  line-height: 1.2em
  color: $oc-gray-5

img
  width: 100%

.matrix-button
  text-align: center
  width: 100%


svg
  background: $oc-orange-1
  width: 25vw
  height: 100%
  fill: $oc-gray-7


