{% extends "base.html" %}

{% block body %}
<div class="index-grid">

  <div class="index-cell-img">
    <img src="{{ section.extra.backgroundImg }}" alt="Image of iceburg">  
  </div>

  <div class="index-cell-header">
    <h2>{{ section.title }}</h2>
  </div>

  <div class="index-cell-main">

    {{ section.description }}
    {% for post in section.pages %}
    <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
    {% endfor %}
    {{ listing }} 

    <div class="content-grid">
      {{ section.content | safe }}
    </div>

    <div class="footer">footer content here</div>
  </div>
</div>
{% endblock body %}
