{% extends "page.html" %}
{% block list %}

<ul class="media-block">
	<li class="media-headline">
		<h2>Actionable Intelligence</h2>
	</li> 
	<li class="media-main">
		Receive ongoing objective actionable market intelligence.
	</li>
</ul>

<ul class="media-block">
	<li class="media-headline">
		<h2>Innovative Thinking</h2>
	</li>
	<li class="media-main">
		Uncover hidden revenue and increase loyalty by having something new to say.
	</li>
</ul>

<ul class="media-block">
	<li class="media-headline">
		<h2>Smart Growth</h2>
	</li>
	<li class="media-main">
		Grow revenue without increasing headcount.
	</li>
</ul>

<ul class="media-block">
	<li class="media-headline">
		<h2>Exeptional Experiences</h2>
	</li>
	<li class="media-main">
		Deliver high-value solutions and better experiences to everyone.
	</li>
</ul>

{% endblock list %}
