 <div class="topnav" id="myTopnav">
	    <a href="/staffing/home/index.html">home</a>
		<a href="/staffing/smart/index.html">be smart</a>
		<a href="/staffing/connections/index.html">get connected</a>
		<a href="/staffing/different/index.html">stand out</a>
		<a href="/staffing/services/index.html">services</a>
		<a href="/staffing/tools/index.html">tools</a>
		<a href="/staffing/contact/index.html">contact</a>
  <!--
	  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a href="#about">About</a>
  -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div> 

<!-- Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon -->
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
} 
</script>
<!-- <nav>

	</ul>
</nav>
-->
