{% extends "base.html" %}
{% block body %}

<div class="topnav" id="myTopnav">

	<a href="/index.html" class="active">home</a>

	<div class="dropdown">
		<button class="dropbtn">Staffing
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="/staffing/smart/index.html">be smart</a>
			<a href="/staffing/connections/index.html">get connected</a>
			<a href="/staffing/services/index.html">services</a>
			<a href="/staffing/tools/index.html">tools</a>
		</div>
	</div>

	<div class="dropdown">
		<button class="dropbtn">vars
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="/vars/smart/index.html">be smart</a>
			<a href="/vars/connections/index.html">get connected</a>
			<a href="/vars/services/index.html">services</a>
			<a href="/vars/tools/index.html">tools</a>
		</div>
	</div>

	<a href="/roi/index.html">smart roi</a>
	<a href="/about/index.html">about</a>
	<a href="/contact/index.html">contact</a>
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div> 

<div class="{{ page.slug }}">

	<!--header-->

	<div class="header">
		<div class="headerImg">
			<img src="/{{ page.extra.headerImg }}" alt="{{ page.extra.headerImgAlt }}">  
		</div>

		<div class="headerMask"></div>

		<div class="headerHeadline">
			<h2>{{ page.extra.headerHeadline }}</h2>
		</div>

		<div class="headerMain">
			{{ page.extra.headerMain | safe }}
		</div>

		<button type="button" class="button">
			Click Me!
		</button> 
		<div class="chevron">
			<a href="#bookmarkMain">
			<img src="/chevron.png" alt="Chevron pointing to more content.">
			</a>
		</div>
	</div>

	<!-- main -->
	<div id="bookmarkMain" class="main">
		<div class="content">
			{{ page.content | safe }}
		</div>
	</div>

</div>
</div>

{% endblock body %}
