{% extends "page.html" %}
{% block list %}

<ul class="media-block">
	<li class="media-headline">
		<h2>
			SMART Recruiters
		</h2>
	</li>
	<li class="media-main">
		drive a compelling narrative
	</li>
	<li class="media-main">
		enjoy deeper customer relationships
	</li>
	<li class="media-main">
		are more satisfied
	</li>
	<li class="media-main">
		have more interesting candidate interactions
	</li>
</ul>

<ul class="media-block">
	<li class="media-headline">
		<h2>
			SMART Candidates
		</h2>
	</li>
	<li class="media-main">
		recognized for their expertise
	</li>
	<li class="media-main">
		sought after by companies
	</li>
	<li class="media-main">
		paid better
	</li>
	<li class="media-main">
		happier and more successful
	</li>
</ul>

<ul class="media-block">
	<li class="media-headline">
		<h2>
			SMART Customers
		</h2>

	</li>
	<li class="media-main">
		begging for a new staffing story & methodology
	</li>
	<li class="media-main">
		looking to squeeze value out of every dollar spent.
	</li>
	<li class="media-main">
		pleading for measurable tools and insight
	</li>
	<li class="media-main">
		tired of the same old story. does “we meet and check references on everyone we represent.” sound familiar to you?
	</li>
</ul>

<ul class="media-block">
	<li class="media-headline">
		<h2>
			SMART Businesses
		</h2>

	</li>
	<li class="media-main">
		slippery: they’re easy to slide into
	</li>
	<li class="media-main">
		sticky: once you get in, it’s hard to get out
	</li>
	<li class="media-main">
		proven: proven roi
	</li>
	<li class="media-main">
		scalable: to earn more and do less.
	</li>
	<li class="media-main">
		attractive: to investors:
	</li>
	<li class="media-main">
		smart grows revenue--not headcount--with a scalable differentiator that delivers proven roi for minimal risk.
	</li>
</ul>
{% endblock list %}

